{% extends 'base.html' %}

{% block page_title %}
  Assignments | {{ block.super }}
{% endblock %}


{% block body %}

{% include 'header.html' %}
{% include 'pre_body.html' %}

<div class="span9">
	<h1>Announcements</h1>

   {% for announcement in announcements %}

     	<div class = "row-fluid">
			<div class = "well">
				<div >
					<h4>{{announcement.description}}</h4>
					<h6>{{announcement.teacher}}</h6>
					<h6>{{announcement.course}}</h6>
					<br>
					<p> {{announcement.detail}}</p>
					{% include 'disqus.html' %}
					<p align = "right"><small>{{announcement.pub_date}}</small></p>
				</div>	
			</div>	
		</div>
      {% endfor %}

  </div>



{%  include 'post_body.html' %}

{% endblock %}