{% extends 'base.html' %}

{% block page_title %}
  Assignments | {{ block.super }}
{% endblock %}


{% block body %}

{% include 'header.html' %}
{% include 'pre_body.html' %}

<div class="span9">
	<div class="well">
	<h1>Announcements</h1>

   {% for announcement in announcements %}

     	<div class = "row-fluid">
			<div class = "well"  style="background-color:white;border:1px solid black;padding:10px;">
				<div>
					<h4>{{announcement.title}}</h4>
					<h6>{{announcement.teacher.first_name}} {{announcement.teacher.last_name}} ({{announcement.teacher}})</h6>
					<h6>{{announcement.course}}</h6>
					<p> {{announcement.description}}</p>
					<p align = "right"><small>{{announcement.pub_date}}</small></p>
				</div>	
			</div>	
		</div>
      {% endfor %}

  </div>
  </div>



{%  include 'post_body.html' %}

{% endblock %}