{% extends 'base.html' %}

{% block page_title %}
  Assignments | {{ block.super }}
{% endblock %}


{% block body %}

{% include 'header.html' %}
{% include 'pre_body.html' %}

<div class="span9">
    <div class="row-fluid">
    		<h3>{{assignment.name}}</h3>
        <strong><a href = "/courses/{{course.slug}}/">{{ assignment.course }}</a></strong><br />
        <p>Professor: <em>{{ assignment.teacher }}</em></p>
        <p>Due Date : {{assignment.due_date}}</p>
    </div>
    <hr />
    <div class="container-fluid">
    <div class="row-fluid">     
        <p>{{ assignment.description|linebreaks }}</p>
    </div>
    <div class="row-fluid">
        <p>Attachments: <i class="icon-file"></i>
        <a href="{{ assignment.attachments.url }}">{{ assignment.attachments.name }}
            <em>{{ assignment.attachments.size|filesizeformat}}</em>
        </a>
        </p>
    </div>
    </div>
    
    <hr />


<form>
<fieldset>
<div class="clearfix">
            <label for="textarea">Comments</label>
            <div class="input">
              <textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
              <span class="help-block">
               Anything you want to say about your assignment
              </span>
            </div>
          </div><!-- /clearfix -->
          
			<div class = "control-group">
				<label class = "control-label" for = "attachment">Attachment</label>
				<div class = "controls">
					<input id = "attachment" class = "input-file" type = "file">
				</div>			
			</div>
          
          <div class="actions">
            <input type="submit" class="btn primary" value="Submit">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
</div>
{%  include 'post_body.html' %}

{% endblock %}
