{% extends 'base.html' %}
{% block page_title %}
Assignments
{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <h1>Assignments</h1>
    <ul class="nav nav-tabs nav-stacked">
      {% for assignment in assignments_list %}
      <li> 
      <a href={{ assignment.get_absolute_url }}>
          <div class="row-fluid">
            <div class="span4">{{ assignment.name }}</div><div
              class="span4">{{ assignment.course }}</div><div
              class="span4">{{ assignment.due_date }}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span1"></div>
</div>
{% endblock %}
