{% extends 'base.html' %}

{% block page_title %}
  Assignments | {{ block.super }}
{% endblock %}


{% block body %}

{% include 'header.html' %}
{% include 'pre_body.html' %}

<div class="span9">
		<div class="well">
    <div class="row-fluid">
    		<h3>{{assignment.name}}</h3>
        <strong><a href = "/courses/{{course.slug}}/">{{ assignment.course }}</a></strong><br />
        <p>Professor: <strong>{{ assignment.teacher.first_name }} {{assignment.teacher.last_name}}</strong> <em>({{assignment.teacher}})</em></p>
        <p>Due Date : {{assignment.due_date}}</p>
    </div>
    <hr /><!--Do hr's need to be escaped, also this hr is backwards lolz-->
    <div class="row-fluid">     
        <p>{{ assignment.description|linebreaks }}</p>
    </div>
    {% if assignment.attachments %}
    <div class="row-fluid">
        <p>Attachments: <i class="icon-file"></i>
        <a href="{{ assignment.attachments.url }}">{{ assignment.attachments.name }}
            <em>{{ assignment.attachments.size|filesizeformat}}</em>
        </a>
        </p>
    </div>
    {% endif %}
    <div class="row-fluid">
    
        {% if submission_status == "graded" %}
        <!--If Graded-->
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Graded <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="grade/">View Grade</a></li>
            </ul>
        </div>
        {% else %}{% if submission_status == "submitted" %}
        <!--If Submitted-->
        <div class="btn-group">
          <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="view/">View Submission</a></li>
            <!--<li><a href="edit/">Edit Submission</a></li>-->
          </ul>
        </div>
        {% else %}{% if submission_status == "need to submit" %}
        <!--Need to Submit-->
        <a href="submit/" class="btn btn-warning dropdown-toggle">Submit Assignment</a>
        {% endif %}{% endif %}{% endif %}

        
    </div>

</div>
</div>
{%  include 'post_body.html' %}

{% endblock %}
