{% extends 'base.html' %}

{% block page_title %}
  Calendar | {{ block.super }}
{% endblock %}



{% block body %}

{% include 'header.html' %}
{% include 'pre_body.html' %}

<div class="span9">
	<h1>Calendar</h1>
	<div class = "span6" id="calendar">
	</div>
	<div class="span5">
	<br>	<br> <br>
		<div class = "row-fluid">
			<div class = "well">
				<div >
				<h6>Events:</h6>
					Maybe we should display events of the day here!!
					
					<h6>8:00 AM</h6> 
					CS 566 Mid -term exam
					<h6>12:00 AM</h6> 
					CS 647 Compiler Assignment due
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'post_body.html' %}
{% endblock %}



{% block jQuery %}
<script src="{{ STATIC_URL }}js/bootstrap.calendar.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
    var evnts = function(){
    return {
      "event":
      [
           	{% for assignment in assignments %}
                      		
                      			{"date":"{{assignment.due_date|date:"Y-m-d"}}","title":"{{assignment.name}}"},
									{% endfor %}
      ]
    }
};

$('#calendar').Calendar({ 'events': evnts, 'weekStart': 1 })
    .on('changeDay', function(event){ alert(event.day.valueOf() +'-'+ event.month.valueOf() +'-'+ event.year.valueOf() ); })
    .on('onEvent', function(event){ alert(event.day.valueOf() +'-'+ event.month.valueOf() +'-'+ event.year.valueOf() ); })
    .on('onNext', function(event){ alert("Next"); })
    .on('onPrev', function(event){ alert("Prev"); })
    .on('onCurrent', function(event){ alert("Current"); });
});

</script>

{% endblock %}
