{% extends 'base.html' %}

{% block page_title %}
    {{ block.super }} | {{ course.name }}
{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.description|linebreaks }}</p>
    
    <div id="new_assignments">
        <h2>New Assignments</h2>
        {% if course.assignments.all %}
          <ul>
              {% for assignment in course.assignments.all %}
              <li>{{ assignment.name }}</li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No Homework</p>
        {% endif %}
    </div>
{% endblock %}
