{% extends 'base.html' %}

{% block page_title %}
  Courses List | {{ block.super }}
{% endblock %}


{% block body %}



{% include 'header.html' %}
{% include 'pre_body.html' %}  

  
<div class="span8">
<div class="tabbable">       

<!--Tabbed Course Header-->
<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#home" data-toggle="tab">{{ course.title }}</a></li>
    <li class=""><a href="#announcements" data-toggle="tab">Announcements</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#dropdown1" data-toggle="tab">Inbox</a></li>
        <li><a href="#dropdown2" data-toggle="tab">Submitted</a></li>
        <li><a href="#dropdown3" data-toggle="tab">Graded</a></li>
      </ul>
    </li>
    <li class=""><a href="#grades" data-toggle="tab">Grades</a></li>
    <li class=""><a href="#discussions" data-toggle="tab">Discussions</a></li>
</ul>
  
 
  
  
  
  
<div id="myTabContent" class="tab-content">

<!--Home Tab-->
<div class="tab-pane fade active in" id="home">
    <img src="{{course.course_image.url}}" alt="{{course.title}}">
	{{ course.description|linebreaks }}
	<div class = "row-fluid">
		<div class = "well">
			<div class = "span9">
			    <strong>Syllabus for {{course.title}}: <a href="{{course.syllabus.url}}"><i class="icon-file"></i>{{course.title}}/Syllabus</a></strong>
			</div>
		</div>	
	</div>
</div>
 
<!-- Announcements Tab -->
<div class="tab-pane fade" id="announcements">
    <h1>Announcements</h1>
      {% for announcement in announcements %}

     	<div class = "row-fluid">
			<div class = "well">
				<div >
					<h4>{{announcement.title}}</h4>
					<h6>{{announcement.teacher}}</h6>
					<h6>{{announcement.course}}</h6>
					<p> {{announcement.description}}</p>
					<p align = "right"><small>{{announcement.pub_date}}</small></p>
				</div>	
			</div>	
		</div>
        {% empty %}
        <p>No Announcements at this time</p>
      {% endfor %}
</div>

<!--
assignments_graded
assignments_submitted
assignments_inbox
-->

<!-- Assignments Inbox Tab -->
<div class="tab-pane fade" id="dropdown1">
    {% for assignment in assignments_inbox %}
    <div class="row-fluid">
        <div class="well">
            <div class="span12">
                <div class="span4"><a href={{ assignment.slug }}>{{ assignment.name }}</a></div>
                <div class="span4">{{ assignment.course }}</div>
                <div class="span4">{{ assignment.due_date }}</div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Not Assignments! Go Play!!</p>
    {%  endfor %}
</div>

<!-- Assignments Submitted Tab -->
<div class="tab-pane fade" id="dropdown2">
    {% for submission in assignments_submitted %}
        <div class="row-fluid">
            <div class="well">
                <div class="span12">
                    <div class="span4"><a href={{ assignment.slug }}>{{ submission.assignment.name }}</a></div>
                    <div class="span4">{{ submission.assignment.course }}</div>
                    <div class="span4">{{ submission.assignment.submit_date }}</div>
                </div><!--END span12-->
            </div><!--END well-->
        </div><!--END row-fluid-->
    {% empty %}
    <p>No Assignments submitted</p>
    {% endfor %}
</div>

<!-- Assignments Graded  Tab -->
<div class="tab-pane fade" id="dropdown3">
    {% for grade, submission in assignments_graded %}
        <div class="row-fluid">
            <div class="well">
                <div class="span12">
                    <div class="span4"><a href={{ submission.assignment.slug }}>{{ submission.assignment.name }}</a></div>
                    <div class="span4">{{ submission.assignment.course }}</div>
                    <div class="span4">Grade: {{ grade }}</div>
                </div>
            </div>
        </div>
    {% empty %}
    <p>No Assignments graded</p>
    {% endfor %}
</div>


<!-- Grade Tab -->
<div class="tab-pane fade" id="grades">
    <table class="table table-striped">
    {% for grade, submission in assignments_graded %}
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Points</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href={{ submission.assignment.slug }}>{{ submission.assignment.name }}</a></td>
                <td>{{ grade.points }} out of {{ grade.max_points }}</td>
                <td>{{ grade }}</td>
            </tr>
        </tbody>
    {% empty %}
    <tr><td>No Grades</td></tr>
    {% endfor %}
    </table>
</div>

<!-- Discussion Tab -->
<div class="tab-pane fade" id="discussions">
    <div class = "row-fluid">
        <div class = "well">
        <!--{% for discussion in discussions %}
            <div>
                <h4>{{discussion.user}} says:</h4>
                <p> {{discussion.disqus}}</p>
                <p align = "right"><small>{{discussion.pub_date}}</small></p>
            </div>
        {% empty %}
        <p>Be the first to comment!</p>
        {% endfor %}-->
        {% include 'disqus.html' %}
        </div><!--END well-->
    </div><!--END row-fluid-->
</div><!--END discussions-->
 
</div><!-- END myTabContent -->
</div><!-- END tabbable -->  
</div><!-- END span8 -->
 

{%  include 'post_body.html' %}

{% endblock %}


{% block jQuery %}
<script type="text/javascript">
$(document).ready(function(){
//  $("li").first().addClass('active');
//  $(".tab-pane").first().addClass('active');
$('#myTab a:first').tab('show');
});
</script>
{% endblock %}
