{% extends 'base.html' %}

{% block page_title %}
  Courses List | {{ block.super }}
{% endblock %}


{% block body %}
<!--courses.html template-->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Class Cloud</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>&nbsp;{{ user.username }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/accounts/logout/">Sign Out</a></li>
        </ul>
      </div><!--END btn-group pull-right -->

      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#"><i class="icon-font"></i></a></li>
          <li class="active"><a href="#"><i class="icon-globe"></i></a></li>
        </ul>
      </div><!--END nav-collapse -->
    </div><!--END container -->
  </div><!--END navbar-inner -->
</div><!--END navbar navbar-fixed-top -->

<div class="container-fluid">
<div class="span10 offset2">
  <div class="row-fluid">
    <div class="span3">
    	
      <!-- Sidebar content -->
      <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked">
          <li class="active"><a href="#">News Feed</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="../assignments">Assignments</a></li>
        </ul>
      </div>
      <!--END Sidebar content -->
      
      <!--Sidebar content -->
      <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="#">Grades</a></li>
          <li><a href="#">Progress</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
      </div>
      <!--END Sidebar content -->
      
    </div><!--END span3-->  

<!-- Assignment -->

    <div class="span8">
      <div class="row-fluid">
        <ul class="thumbnails">
            {% for course in courses_list %}
            <li class="span5">
	            <div class="thumbnail">
		            <img src="http://placehold.it/400x230" alt="">
		            <h5><a href = "">{{course.title}}</a></h5>
		            <p>Durga Suresh</p>
	            </div>
            </li>
            {% endfor %}
        </ul>
      </div><!--END span8 -->
    </div><!--END row-fluid-->
    
<!-- END Assignment -->
	
    </div><!--END row-fluid-->
  </div><!--END span10 offset2 -->
</div><!--END Container Fluid -->

{% endblock %}


{% block jQuery %}
<script type="text/javascript">
$(document).ready(function(){
//  $("li").first().addClass('active');
//  $(".tab-pane").first().addClass('active');
$('#myTab a:first').tab('show');
});
</script>
{% endblock %}
