<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Class Cloud</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>
            {% if user.first_name and user.last_name %}
            &nbsp;{{user.first_name}}&nbsp;{{user.last_name}}
            {% else %}
                {{ user.username }}
            {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/profile">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/accounts/logout/">Sign Out</a></li>
        </ul>
      </div><!--END btn-group pull-right -->

      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#"><i class="icon-font"></i></a></li>
          <li class="active"><a href="#"><i class="icon-globe"></i></a></li>
        </ul>
      </div><!--END nav-collapse -->
    </div><!--END container -->
  </div><!--END navbar-inner -->
</div><!--END navbar navbar-fixed-top -->



