{% extends 'base.html' %}

{% block page_title %}
  Class Cloud
{% endblock %}

<!--Main Stuff-->
{% block body %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Class Cloud</a>
        </div><!--END container -->
    </div><!--END navbar-inner -->
</div><!--END navbar navbar-fixed-top -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Class Cloud</h1>
      <p>Classcloud is a course management software application designed to
      be simple to use and device agnostic.</p>
    </div>
  </div>
  <hr>
<div class="row-fluid">
  <div class="span9">
            {% if form.errors %}
                <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}
            
          <form action="" method="post">
              {% csrf_token %}
              <input type="text" class="span2" placeholder="username" name="username" value="" id="username">
              <label></label>
              <input type="password" class="span2" placeholder="Password" name="password" value="" id="password">
              <input type="submit" value="login" />
              <input type="hidden" name="next" value="{{ next|escape }}" />
              <a class="btn btn-primary btn-large" href="/accounts/register/">
              Register
              </a>
          </form>
        </div>

</div><!--END row-fluid-->

<div class="row-fluid">
    <div><a href="/accounts/password/reset">forgot password?</a></div>
    <div><a href="#">need help?</a></div>
</div><!--END row -->

{% endblock %}

<!-- JavaScript to execute after everything else has loaded -->
{% block jQuery %}


{% endblock %}
