<div class="container-fluid">
<div class="span10 offset2">
  <div class="row-fluid">
    <div class="span3">
    	
      <!-- Sidebar content -->
      <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="/announcements">News Feed</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/assignments">Assignments</a></li>
        </ul>
      </div>
      <!--END Sidebar content -->
      
      <!--Sidebar content -->
      <div class="row-fluid">
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="/grades">Grades</a></li>
          <!--<li><a href="#">Progress</a></li>-->
          <li><a href="/calendar">Calendar</a></li>
        </ul>
      </div>
      <!--END Sidebar content -->
      
      	
    <!--Sidebar content (This is for professor only!!!)-->
    <!--		
		<div class = "row-fluid">
			<ul class="nav nav-tabs nav-stacked">
    			<li><a href="/make_announcement">Make an announcement</a></li>
				<li><a href="PGrade.html">Assign an assignment</a></li>
    		</ul>
		</div>
    -->
      
    </div><!--END span3-->  
