{% extends 'base.html' %}
{% block page_title %}
  Create a course | {{ block.super }}
{% endblock %}

{% block more_css %}
<!--<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.8.21/themes/ui-lightness/jquery-ui.css" />-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery_ui_custom/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css" />
{% endblock %}

{% block body %}

<!--Not sure if I should keep this, or go with Paul Irish's method of targeting IE-->
<!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery_ui_custom/jquery.ui.1.8.16.ie.css"/>
<![endif]-->

{% include 'teacher/t_header.html' %}


<div class="container-fluid">
<div class="span10 offset2">
  <div class="row-fluid">
    <div class="span3">
    	<div class="well">
    	
      <!-- Sidebar content -->
      <div class="row-fluid">
      <h4>Manage your Courses</h4>
        <ul class="nav nav-tabs nav-stacked">
          {% for course in courses %}
        <li><a href="/teacher/{{ course.slug }}"><i class="icon-wrench"></i> {{ course.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <!--END Sidebar content -->
      
      <!--Sidebar content -->
      <div class="row-fluid">
            <h4>Create Courses</h4>
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="/teacher/add/course/">Add Course <i class="icon-plus"></i></a></li>
        </ul>
      </div>
      <!--END Sidebar content -->
      </div>
      
      	
    <!--Sidebar content (This is for professor only!!!)-->
    <!--		
		<div class = "row-fluid">
			<ul class="nav nav-tabs nav-stacked">
    			<li><a href="/make_announcement">Make an announcement</a></li>
				<li><a href="PGrade.html">Assign an assignment</a></li>
    		</ul>
		</div>
    -->
      
    </div><!--END span3-->  
<div class="span8 offset4">
	<h3>Create a course</h3>
   	<div class="well">
{% load bootstrap %}
<form enctype="multipart/form-data" method="post" action="." class="form-horizontal">
{% csrf_token %}

{{ CourseForm|bootstrap }}

<input type="submit" value="submit" class="btn btn-primary" />

</form>

</div>
</div>
{% endblock %}

{% block jQuery %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-sliderAccess.js"></script>
<script>
$(function() {
//$( ".datePicker" ).datepicker();
    $('.datePicker').datetimepicker({
        addSliderAccess: true,
        sliderAccessArgs: { touchonly: false }
    });
});
</script>
{% endblock %}
