<div class="container-fluid">
	<div class="span10 offset2">
		<div class="row-fluid">
    		<div class="span3">
		
				<div class="row-fluid">
					<h3>Announcement</h3>
					<ul class="nav nav-tabs nav-stacked">
					    <li><a href="annoucement_add/">Add Annoucement</a></li>
					</ul>
				</div>
				
				<div class="row-fluid">
					<h3>Assignment</h3>
					<ul class="nav nav-tabs nav-stacked">
					    <li><a href="assignment_add/">Add Assignment</a></li>
    					 <li><a href="grade_assignments/">Grade Assignment</a></li>
					</ul>
				</div>
				
				<div class="row-fluid">
					<h3>Enrollment</h3>
					<ul class="nav nav-tabs nav-stacked">
					    <li><a href="enroll_students/">Enroll Student</a><li>
					    <li>
					    	<a href="enrollment/request">Enrollment Request
     							<span class="badge badge-info">8</span>
    						</a>
    						</li>					    
					</ul>
				</div><!--END navigation bar-->
    </div><!--END span3-->
