{% extends 'base.html' %}
{% block page_title %}
  Courses List | {{ block.super }}
{% endblock %}

{% block head_js %}
<script type="text/javascript">
function redirectURL() {
    window.location.replace("/teacher/{{ slug }}/grade_assignments");
}

function delayRedirect() {
    timeout = window.setTimeout(redirectURL,  2000);
}
</script>
{% endblock %}

{% block body_attrs %}
onLoad="delayRedirect();"
{% endblock %}

{% block body %}
{% include 'teacher/t_header.html' %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">&nbsp;</div>
    </div>
    <div class="row-fluid">
        <div class="span12">&nbsp;</div>
    </div>
    <div class="row-fluid">
        <div class="span1">&nbsp;</div>
        <div id="redirect" class="span10 alert alert-success">
        <p>
        <strong>Assignment Graded!</strong>
        </p>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
</div>

{% endblock %}
