{% extends 'base.html' %}

{% load webdesign %}

{% block page_title %}
  Teacher View - {{ block.super }}
{% endblock %}

{% block body %}

{% include 'teacher/t_header.html' %}

<div class="container-fluid">
<div class="span10 offset2">

<div class="row-fluid">
    <h2>Welcome Professor {{ user.get_full_name }}</h2>
    <hr>
    <div class="span5">

    <h2>Manage Courses</h2>
    <ul id="courses" class="nav nav-pills nav-stacked">
        <li class="nav-header">Manage Your Courses</li>
        {% for course in courses %}
        <li><a href="{{ course.slug }}"><i class="icon-wrench"></i> {{ course.title }}</a></li>
        {% endfor %}
    </ul>
    </div>
    
    <div class="span5">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Create Course</li>
        <li><a href="add/course/">Add Course <i class="icon-plus"></i></a></li>
    </ul>
    </div>
    
</div><!--END row-fluid-->

</div><!--END span10 offset2-->
</div><!--END container-fluid-->

{% endblock %}


{% block jQuery %}

{% endblock %}
