{% extends 'base.html' %}

{% load webdesign %}

{% block page_title %}
  Teacher View - {{ block.super }}
{% endblock %}

{% block body %}

{% include 'header.html' %}

<div class="container-fluid">
<div class="span10 offset2">

<div class="row-fluid">
    <div class="span5">

    <h2>Manage Courses</h2>
    <ul id="courses" class="nav nav-pills nav-stacked">
    <li><a href="add/annoucement">Add Annoucement</a></li>
    <li><a href="grade/assignments">Grade Assignments</a></li>
    <li><a href="enrollment/student">Enroll Student</a></li>
    <li><a href="enrollment/request">Enrollment Request
     <span class="badge badge-info">8</span>
    </a></li>
    <li><a href="addassignment">Add Assignment <i class="icon-plus"></i></a></li>
    </ul>


    <h2>Edit Courses</h2>
    <ul id="courses" class="nav nav-pills nav-stacked">
    {% for course in courses %}
        <li><a href="{{ course.slug }}">{{ course.title }}</a></li>
    {% endfor %}
        <li><a href="addcourse">Add Course <i class="icon-plus"></i></a></li>
    </ul>

    </div><!--END span3-->
</div><!--END row-fluid-->

</div><!--END span10 offset2-->
</div><!--END container-fluid-->

{% endblock %}


{% block jQuery %}

{% endblock %}
