<div class="container-fluid">
<div class="span10 offset2">

<div class="row-fluid">
    <div class="span3">

    <h2>Manage Courses</h2>
    <ul id="courses" class="nav nav-pills nav-stacked">
    <li><a href="/make_announcement/">Add Annoucement</a></li>
    <li><a href="grade/assignments">Grade Assignments</a></li>
    <li><a href="enrollment/student">Enroll Student</a></li>
    <li><a href="enrollment/request">Enrollment Request
     <span class="badge badge-info">8</span>
    </a></li>
    <li><a href="addassignment">Add Assignment <i class="icon-plus"></i></a></li>
    </ul>


    <h2>Edit Courses</h2>
    <ul id="courses" class="nav nav-pills nav-stacked">
    {% for course in courses %}
        <li><a href="{{ course.slug }}">{{ course.title }}</a></li>
    {% endfor %}
        <li><a href="addcourse">Add Course <i class="icon-plus"></i></a></li>
    </ul>

    </div><!--END span3-->