<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Class Cloud <i class="icon-eye-open"></i> <em>Teacher View</em>  </a> 
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>&nbsp;{{ user.first_name}}&nbsp;{{user.last_name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/accounts/logout/">Sign Out</a></li>
        </ul>
      </div><!--END btn-group pull-right -->

      
    </div><!--END container -->
  </div><!--END navbar-inner -->
</div><!--END navbar navbar-fixed-top -->
